html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: sans-serif;
}

.login {
  margin-top: 200px;
  padding: 32px;
  background-color: white;
  width: 30%;
  margin-left: 35%;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom: 2px solid teal;
}

.form-item {
  padding: 16px;
}

label {
  color: teal;
}

input {
  font-size: inherit;
  padding: 8px;
  width: 100%;
  display: block;
  margin-top: 20px;
  box-sizing: border-box;
}

button {
  font-size: inherit;
  padding: 8px;
  background-color: teal;
  color: white;
  width: 100px;
}

.btn {
  text-align: right;
}

.notification {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  font-size: 18px;
  color: white;
}

.error {
  background-color: red;
  padding: 16px;
}

.success {
  background-color: green;
  padding: 16px;
}

.clear-notification {
  float: right;
  cursor: pointer;
}